# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs / Databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Certificates (optional, if storing generated ones locally)
certificates/*.pdf

node_modules/
build/
.env
*.secret


src/cert_gen/output/*.pdf
